@{
    ViewData["Title"] = "Редактировать статью";
    Layout = "_Layout";
}

<h2>Редактировать статью</h2>

<div id="tagContainer" class="mb-2"><!-- Теги будут загружены через loadTags --></div>
<input type="text" id="titleInput" class="form-control mb-2" placeholder="Заголовок" />
<textarea id="contentInput" class="form-control mb-2" placeholder="Контент"></textarea>

<button class="btn btn-primary" onclick="saveArticle()">Сохранить</button>
<a href="/ArticleView/ArticleList">Выйти без сохранения</a>

<script>
async function loadTags() {
    const res = await fetch("/tagapi/all");
    const tags = await res.json();
    const container = document.getElementById("tagContainer"); // div для чекбоксов

    tags.forEach(t => {
        const label = document.createElement("label");
        label.classList.add("mr-2"); // отступ справа
        label.innerHTML = `
            <input type="checkbox" class="tagCheckbox" value="${t.id}"> ${t.tagName}
        `;
        container.appendChild(label);
    });
}

async function saveArticle() {
    const pathParts = window.location.pathname.split("/");
    const ARTICLE_ID = pathParts[pathParts.length - 1];
    const title = document.getElementById("titleInput").value;
    const content = document.getElementById("contentInput").value;
    const selectedTags = Array.from(document.getElementById("tagSelect").selectedOptions).map(o => o.value);

    await fetch("/api/article/edit/" + ARTICLE_ID, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ title, content, tags: selectedTags })
    });
    alert("Статья обновлена");
    window.location.href = "/ArticleView/Index";
}
loadTags();
</script>