@{
    ViewData["Title"] = "Добавить статью";
    Layout = "_Layout";
}

<h2>Добавить статью</h2>

<div id="tagContainer" class="mb-2"><!-- Теги будут загружены через loadTags --></div>
<input type="text" id="titleInput" placeholder="Заголовок" class="form-control mb-2" />
<textarea id="contentInput" placeholder="Контент" class="form-control mb-2"></textarea>

<button class="btn btn-primary" onclick="createArticle()">Сохранить</button>
<a href="/ArticleView/ArticleList">Все статьи</a>

<script>
async function loadTags() {
    const res = await fetch("/tagapi/all");
    const tags = await res.json();
    const container = document.getElementById("tagContainer"); // div для чекбоксов

    tags.forEach(t => {
        const label = document.createElement("label");
        label.classList.add("mr-2"); // отступ справа
        label.innerHTML = `
            <input type="checkbox" class="tagCheckbox" value="${t.id}"> ${t.tagName}
        `;
        container.appendChild(label);
    });
}
async function createArticle() {
    const title = document.getElementById("titleInput").value;
    const content = document.getElementById("contentInput").value;
    const selectedTags = Array.from(document.querySelectorAll(".tagCheckbox:checked")).map(o => o.value);

    // --- Валидация ---
    let errors = [];
    if (title.length === 0) errors.push("Введите заголовок");
    if (content.length === 0) errors.push("Введите содержимое статьи");
    if (selectedTags.length === 0) errors.push("Выберите хотя бы один тег");

    if (errors.length > 0) {
        alert("Ошибка:\n- " + errors.join("\n- "));
        return;
    }

    await fetch("/articleapi/create", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ title, content, tags: selectedTags })
    });
    alert("Статья добавлена");
    window.location.href = "/ArticleView/ArticleDetails";
}
loadTags();
</script>