@{
    ViewData["Title"] = "Статьи";
    Layout = "_Layout";
}

<h2>Все статьи</h2>
<a class="btn btn-primary mb-2" href="/ArticleView/ArticleCreate">Добавить статью</a>
<ul id="articleList" class="list-group"></ul>
@{
    var isModerator = User.IsInRole("Moderator"); //ПОЧЕМУ НЕ ОТОБРАЖАЕТСЯ МОДЕРАТОР
}

<script>
async function loadArticles() {
    const res = await fetch("/articleapi/all");
    const articles = await res.json();
    const list = document.getElementById("articleList");
    list.innerHTML = "";
    articles.forEach(a => {
        list.innerHTML += `<li class="list-group-item">
        <strong>${a.title}</strong> 
        <a class="btn btn-sm btn-primary float-right ml-1" href="/ArticleView/ArticleEdit?articleId=${a.articleId}">Редактировать</a>
        <a class="btn btn-sm btn-secondary float-right" href="/ArticleView/ArticleDetails?articleId=${a.articleId}">Посмотреть</a>
        @if (isModerator)
        {
        <button class="btn btn-sm btn-danger float-right ml-1" onclick="deleteArticle('${a.articleId}')">Удалить</button>
        }
    </li>`;
    });
}
loadArticles();
</script>