@using System.Security.Claims

@{
    ViewData["Title"] = "Пользователь";
    Layout = "_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <p>Привет, @User.Identity.Name!</p>
    <p>Email: </p>
    <p>Роли: @string.Join(", ", User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value))</p>
    
}

<a class="btn btn-primary" href="/UserView/UserEdit">Редактировать</a>

<script>
async function loadUser() {
    const pathParts = window.location.pathname.split("/");
    const USER_ID = pathParts[pathParts.length - 1];
    const res = await fetch("/userapi/" + USER_ID); // USER_ID передается через Razor или JS
    const u = await res.json();

    document.getElementById("userNickname").innerText = u.nickname;
    document.getElementById("userLogin").innerText = u.login;
    document.getElementById("userRoles").innerHTML = u.roles.map(r => `<span class="badge badge-info mr-1">${r}</span>`).join("");
}

loadUser();
</script>