@{
    ViewData["Title"] = "Главная страница"; //главная точка входа, рендерится на _Layout.cshtml
        Layout = "_Layout"; // если Layout не задан в _ViewStart.cshtml
}

<h1>Привет!</h1>
<p>Добро пожаловать в PersonalBlog</p> 